body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: steelblue;
    margin: 0;
}

.clock {
    width: 600px;
    /* Adjust as needed */
    height: 600px;
    /* Adjust as needed */
    background-image: url('kguc-logo-new.jpeg');
    /* Replace with the path to the clock image */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    /* Adjust as needed */
    font-family: 'Arial Black', sans-serif;
    color: rgb(230, 19, 61);
}