body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: steelblue;
    margin: 0;
    overflow: hidden;
    /* Ensures no scrolling */
}

.clock {
    width: 900px;
    /* Adjust based on your preference */
    height: 900px;
    /* Adjust based on your preference */
    background-image: url('kguc-logo-new.jpg');
    /* Ensure the correct path */
    background-size: contain;
    /* This will ensure the entire image is shown */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    /* Adjust as needed */
    font-family: 'Arial Black', sans-serif;
    color: rgb(230, 19, 61);
}